.portfolio {
  margin-top: 93px;
  font-family: 'Old Standard TT', serif;
}

.projects {
  margin: 50px;
}

.portfolio_title {
  font-size: 3em;
  font-weight: 400;
  text-transform: lowercase;
  margin: 0;
  line-height: 48px;
}

.portfolio_subtitle {
  font-size: 1.5em;
  font-weight: 400;
  font-style: italic;
  margin: 0;
}

.portfolio_description {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  margin: 5px 0;
}

.bold {
  font-weight: 700;
}

.portfolio_text {
  margin-top: 8px;
}
