.footer {
  position:fixed;
  left: 0px;
  bottom: 0px;
  height: 38px;
  width: 100%;
  text-align: right;
  background-color: #fff;
}

.footer_links {
  font-size: .75em;
  margin: 5px 50px 0 0;
}

.footer_links li {
  border-right: none;
  padding: 5px;
}

.middle_dot {
  color: #8da2d9;
  padding: 0;
}

@media (max-width: 650px) {
  .footer {
    top: 0;
    height: 400px;
  }

  .footer_links {
    font-size: 1em;
    margin: 0;
    text-align: left;
  }

  .footer_links li {
    display: block;
    margin: 0 20px;
    padding: 20px 0;
    border-top: solid 1px #8da2d9;
  }

  .footer_links li:first-child {
      border: none;
  }

  .middle_dot {
    display: none !important;
  }

}
