.name {
  font-size: 1em;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.nav {
  z-index: 1;
  width: 100%;
  height: 82px;
  top: 0px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.nav_name {
  float: left;
  margin-left: 45px;
  margin-top: 27px;
}

#hamburger_icon {
  cursor: pointer;
  display: none;
  padding: 0;
}

.bar1, .bar2, .bar3  {
  width: 34px;
  height: 5px;
  background-color: #8da2d9;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 20px;
}

.change0 {
 -webkit-transform: rotate(-45deg) translate(-8px, 8px);
 transform: rotate(-45deg) translate(-8px, 8px);
}

.change1 {
    opacity: 0;
}

.change2 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.nav_links {
  float: right;
  margin-right: 50px;
}

.nav_dropdown {
  display: none;
}

@media (max-width: 700px) {

  .nav_links {
    margin-top: 15px;
  }

  .nav_name {
    margin-left: 20px;
  }

  .nav_links {
    float: right;
    margin-right: 20px;
  }
}

@media (max-width: 650px) {

  .nav_name {
    margin-left: 15px;
  }

  #hamburger_icon {
    display: block;
    float: right;
    margin: 15px 20px 0 0;
  }

  .nav_links {
    display: none;
    float: left;
    top: 0;
    width: 100%;
    margin: 0;
    background: #fff;
  }

  .nav_links li{
    margin: 0 20px;
    padding: 20px 0;
    display: block;
    border-right: 0;
    border-top: solid 1px #8da2d9;
  }

  .nav_links li:first-child{
    border-top: 0;
  }

  .nav_dropdown {
    display: block;
  }

  .show_menu {
    display: block;
  }
}
