.splashpage {
  text-align: center;
  margin-top: 82px;
}

.splashpage_name {
  margin: auto;
  padding: 5px 0;
  color: #FFF;
  background: #8da2d9;
  width: 168px;
}

.splashpage_name:hover {
  color:#8da2d9;
  background: #ffff00
}

.splashpage_header {
  font-family: 'Old Standard TT', serif;
  font-weight: 400;
  font-size: 5em;
  line-height: 78px;
  letter-spacing: 3px;
}

.splashpage_line {
  margin: auto;
  width: 82px;
  height: 6px;
  background-color: #8da2d9;
}

.line_break {
  display: none;
}

@media (max-width: 700px) {
  .small_no_border {
    border: none;
  }

  .line_break {
    display: block;
  }

  .second_line {
    margin-top: 30px;
  }
}

@media (max-width: 650px) {
  .splashpage_header a {
    padding: 0;
  }

  .splashpage_header {
    font-size: 3em;
  }

  .splashpage_line {
    width: 50px;
    height: 4px
  }
}

@media (max-width: 320px) {
  .splashpage {
    margin-top: 50px;
  }

  .splashpage_header {
    font-size: 2.5em;
    margin: 33px 0;
  }

  .splashpage_line {
    width: 45px;
  }

  .splashpage_nav {
    font-size: .8em;
  }
}
