* {
	/*background: lightblue;*/
	margin: 0 auto;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
}

p {
	margin: 30px;
	bottom-border: 5px solid #000;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.3em;
	margin: 20px 30px 0;
	position: relative;
}

h2 {
	font-size: 1em;
	font-weight: 700;
	margin: 0 30px;
}

li {
	padding: 20px;
}

a {
	font-size: .95em;
	color: #7f7f7f;
	text-decoration: none; 

}

a:visited {
	color: #000;
}

figure	{
	margin: 10px;
}

img {
	display: block;
	max-width: 100%;
}

.nav-links {
	border-bottom: 3px solid;
}

.nav-links:hover {
	border-bottom: 6px solid;
}