* {
	/*background: lightblue;*/
	margin: 0 auto;

}

body {
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
}

p {
	margin: 0 30px;
	bottom-border: 5px solid #000;
}

p::first-letter {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 1.3em;
	padding-right: 4px;
}

h1 {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	text-align: center;
	font-variant: small-caps;
	font-size: 1.5em;
	margin: 30px;
}

nav {
	margin: 20px 30px;
}

h2 {
	font-size: 1em;
	font-weight: 700;
}

ul {
	list-style-type: square;
	padding-left: 20px;
}

li {
	padding: 18px;
}

a {
	font-size: .95em;
	font-weight: 300;
	color: #7f7f7f;
	text-decoration: none; 
}

a:visited {
	color: #000;
}

img {
	display: block;
	max-width: 100%;
	margin: 15px 0;
}

figcaption {
	margin: 0 30px;
	font-size: .9em;
	color: #7f7f7f;
}

form {
	margin: 15px;
	font-variant: small-caps;
}

textarea {
	margin-top: 10px;
}

button {
	margin-top: 10px;
	font-size: .85em;
}

footer {
	margin-bottom: 30px;
}
.nav-links {
	border-bottom: 2px solid;
}

.nav-links:hover {
	border-bottom: 4px solid;
}

.email {
	margin-top: 5px;
}